# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo

# Django
*.pyc
*.sqlite3
db.sqlite3
/staticfiles/
media/
.env

# Virtual environment
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Secrets
credentials.json
